<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/networks.css') }}">
    </head>
    <body>
        <header>
          <div class="nav">
            <ul>
              <li class="home"><a href="/">Home</a></li>
              <li class="network"><a href="/net">Network</a></li>
              <li class="illness"><a href="/ill">Illness</a></li>
              <li class="ideology"><a href="/ideo">Ideology</a></li>
              <li class="ideology"><a href="#">Inference</a>
                <ul>
                  <li><a href="/bayes/net">Network</a></li>
                  <li><a href="/bayes/ill">Illness</a></li>
                  <li><a href="/bayes/ideo">Ideology</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </header>

      <h1>Combined features</h1>  

      <div>
        <form action="{{ url_for('bayes_combo') }}" method='post'>
          <table id="bayes">
            <tr class="header">
              <td>Variables</td>
              <td>Values</td>
              <td>Evidence</td>
              <td>Inference</td>
              <td>Distribution</td>
            </tr>
            {% for key, value in categs.iteritems() %}
            <tr>
              <td>
                {{ key }}
              </td>
              <td>
                <select name="{{ key }}" class="selector">
                  <option selected="selected">None</option>
                  {% for k, v in value.iteritems() %}
                  <option>{{ v }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                {% if evidence is not none %}
                  {% if evidence[key] is not none %}
                    <strong>{{ evidence[key] }}</strong>
                  {% else %}
                    n/a  
                  {%endif %} 
                {% else %}
                  -
                {%endif %}
              </td>
              <td>
                {% if inference is not none %}
                  {{ inference[key].items()[0] }}
                {% else %}
                  n/a
                {%endif %}
              </td>
              <td>
                <button type="submit" class="distribution">View</button>
              </td>
            </tr>
            {% endfor %}
          </table>
          <input type="submit" value="Submit">
          <select name="threshold" id="threshold">
            <option selected="selected">Threshold 0.6</option>
            <option>Threshold 0.7</option>
            <option>Threshold 0.8</option>
            <option>Threshold 0.9</option>
          </select>
        </form>
      </div>  
      <div id="pie">
        <script src={{ url_for('static', filename='js/jquery.js') }}></script>
        <script src={{ url_for('static', filename='js/highcharts.js') }}></script>
        <script src={{ url_for('static', filename='js/exporting.js') }}></script>
        <script src={{ url_for('static', filename='js/pie_chart.js') }}></script>
        <script type="text/javascript">
          pie_chart({{ inference|tojson }}, null);
        </script>
      </div> 
      <div class="graph">
        <script src={{ url_for('static', filename='js/d3.js') }}></script>
        <script src={{ url_for('static', filename='js/jquery.js') }}></script>
        <script src={{ url_for('static', filename='js/render_network.js') }}></script>
        <script src={{ url_for('static', filename='js/main.js') }}></script>
        <script type="text/javascript">
          $(function() {
            main("combo", {{ inference|tojson }})
          });
        </script>
        <div class="legend">
          <script src={{ url_for('static', filename='js/legend.js') }}></script>
        </div>
      </div>

    </body>
</html>


