<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/networks.css">
    <link rel="stylesheet" href="static/css/style.css">
  </head>

  <body class="news">
  <header>
    <div class="nav">
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="net">Network</a></li>
        <li><a href="ill">Illness</a></li>
        <li><a href="ideo">Ideology</a></li>
        <li><a href="#">Inference</a>
          <ul>
            <li><a href="bayes/net">Network</a></li>
            <li><a href="bayes/ill">Illness</a></li>
            <li><a href="bayes/ideo">Ideology</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </header>
</body>


</html>
